* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: white;
}

header {
  position: fixed;
  color: white;
  padding: 2.5rem 3rem;
  background-color: black;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  align-items: baseline;
  font-size: 30px;
}

.watch-background {
  background-image: url("./images/tech-watch.png");
  position: relative;
  background-size: cover;
  background-position: left;
  height: 100vh;
  border-bottom: 2px solid #00ffff;
}

.car-background {
  background-image: url("./images/tech-car.jpeg");
  position: relative;
  background-size: cover;
  background-position: left;
  height: 100vh;
  border-bottom: 2px solid #00ffff;
}

.human-background {
  background-image: url("./images/tech-human.png");
  position: relative;
  background-size: cover;
  background-position: left;
  height: 100vh;
  border-bottom: 2px solid #00ffff;
  z-index: 2;
}
