* {
  margin: 0px;
  color: white;
  font-family: monospace;
}

.tech {
  height: 100vh;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
}

.watch {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url("./images/tech-watch.png");
  margin: 0px;
}

nav {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem 2rem;
}
